@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@*<section class="ftco-section-2">
    <div class="photograhy">
        <div class="row no-gutters">

            <div class="col-md-4 ftco-animate">
                <a href="images/image_2.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(@Url.Content("~/Content/images/image_2.jpg"));">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 02</h3>
                        <span class="tag">Nature</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_3.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(~/Content/images/image_3.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 03</h3>
                        <span class="tag">Fashion</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_4.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_4.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 04</h3>
                        <span class="tag">Travel</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_5.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_5.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 05</h3>
                        <span class="tag">Travel</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_6.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_6.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 06</h3>
                        <span class="tag">Travel</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_7.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_7.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 07</h3>
                        <span class="tag">Fashion, Model</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_8.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_8.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 08</h3>
                        <span class="tag">Nature</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_9.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_9.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 09</h3>
                        <span class="tag">Technology</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_10.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_10.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 10</h3>
                        <span class="tag">Model</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_11.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_11.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 11</h3>
                        <span class="tag">Fashion</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="images/image_12.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_12.jpg);">
                    <div class="overlay"></div>
                    <div class="text text-center">
                        <h3>Work 12</h3>
                        <span class="tag">Photography</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>*@